.field-component {
  position: relative;
  line-height: 2em;
  vertical-align: middle;
  & > .field {
    position: absolute;
    display: block;
    width: 5em;
    text-align: center;
    font-size: 0.8em;
    vertical-align: middle;
    color: $grey-700;
  }
  & > .content {
    display: block;
    padding-left: 5em * 0.8;
    vertical-align: middle;
    width: 100%;
    box-sizing: border-box;
  }
}
