.entity-inspector {
  height: 100%;
  overflow-y: scroll;
  background-color: $grey-200;
  & > .panel {
    border-bottom: 1px solid $grey-500;
    background-color: $grey-100;
    & > .header {
      line-height: 2.2em;
      padding: 0 0.7em;
      font-size: 0.9em;
      // border-top: 1px solid $blue-800;
      // border-bottom: 1px solid $blue-400;
      background: linear-gradient(to bottom, $grey-200, $grey-100);
      color: $grey-800;
    }
    & > .content {
      input.input {
        display: inline-block;
        width: 100%;
        box-sizing: border-box;
        color: $grey-800;
        background: 0;
        padding: 0 0.5em;
        line-height: 2em;
        margin: 0;
        border-radius: 3px;
        border: none;
        &[type='color'] {
          height: 1em;
          line-height: 1em;
          vertical-align: middle;
        }
      }
      code {
        font-family: Droid Sans Mono, 나눔고딕코딩, NanumGothicCoding, monospace;
      }
      pre {
        margin: 0.2em;
        padding: 0.2em;
        background-color: $grey-200;
        color: $grey-800;
        border-radius: 3px;
        overflow: auto;
      }
    }
    &.unspecified > .content {
      text-align: center;
      font-size: 0.9em;
      color: $grey-600;
      margin: 0.3em 0;
    }
    &.overview > .content {
      display: table;
      line-height: 2em;
      vertical-align: middle;
      & > .id {
        display: table-cell;
        width: 2.2em;
        text-align: center;
        font-size: 0.8em;
        vertical-align: middle;
        color: $grey-600;
      }
      & > .name {
        display: table-cell;
        vertical-align: middle;
        & > input {
          display: block;
          width: 100%;
          box-sizing: border-box;
          color: $grey-800;
          background: 0;
          padding: 0.5em;
          margin: 0;
          border-radius: 3px;
          border: none;
          &:hover {
            color: $grey-700;
          }
          &:focus {
            background-color: $blue-200;
            color: $blue-800;
          }
        }
      }
    }
  }
}
